
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div style="margin-top:10px;margin-left:10px;width:300px;border-color:aqua;">
    <a style="color:#0026ff" onclick="Query(1)" >待付款</a> 丨<a style="color:#ff0000" onclick="Query(2)">待发货</a> 丨<a style="color:#00ff21" onclick="Query(3)">已发货</a>丨 <a style="color:#ff00dc" onclick="Query(4)">已完成</a> 丨<a style="color:#ffd800" onclick="Query(5)">已关闭</a>
</div>
<hr style="color:#000000;height:15px;"/>
<div class="wrap-container" style="padding-top:20px">
    <div style="margin-top:20px">
        <span style="margin-left:10px;margin-top:10px">
            订单编号:<input id="OrderformId" type="text" placeholder="输入订单编号" />
            用户名:<input id="UserName" type="text" placeholder="输入姓名" />
            手机号:<input id="UserNumder" type="text" placeholder="输入手机号" />
            <input id="Text1" type="hidden" value="@ViewBag.Name" />
        </span>
        <br />
        <br />
        <span style="margin-left:10px;margin-top:20px">
            商品名称:<input id="CommodityName" type="text" placeholder="输入商品名称" />
            发货公司:
            <select name="category" id="LogisticsName" lay-verify="required"><option value="0">请选择</option></select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="layui-btn layui-layer-btn-c" onclick="Query()" style="height:35px;width:90px;color:#ffffff;margin-left:1200px;margin-top:-60px" value="搜索" lay-submit lay-filter="formDemo">查询</button>
        </span>
    </div>
    <hr style="color:#000000;height:15px;" />
    <div class="layui-form" id="category-table-list">
        <table class="layui-table" lay-even lay-skin="nob">
            <tr>
                <td>商品图片</td>
                <td>订单信息</td>
                <td>商品信息</td>
                <td>单价</td>
                <td>数量</td>
                <td>买家信息</td>
                <td>实收款</td>
                <td>状态</td>
                <td>操作</td>
                <td>订单修改</td>
            </tr>
            <tbody id="datas"></tbody>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
    <hr style="color:#000000;height:15px;" />
    <hr style="color:#000000;height:15px;" />
    <hr style="color:#000000;height:15px;" />
</div>

<script>
    $(document).ready(function () {
        //判断是否通过登录保存cookie
        var Sid = 0;
        $.ajax({
            url: "/Order/Cookie",
            type: "POST",
            data: {
            },
            dataType: "JSON",
            success: function (res) {
                $(res).each(function () {
                    if (this.Name == "" || this.Name == null) {
                        alert("请先登录");
                        location.href = "/UserZ/Login";
                        Sid = 1;    
                        return;
                    }
                })
            }
        })
        if (Sid != 1) {
            $.ajax({
                url: "/Order/DropListLogistics",
                dataType: "json",
                type: "POST",
                success: function (res) {
                    var select = "";
                    $(res).each(function () {
                        select += "<option value=" + this.LogisticsId + ">" + this.LogisticsName + "</option>";
                    })
                    $("#LogisticsName").append(select);
                }
            })
            var str = "";
            ///店铺的下拉列表
            $.ajax({
                url: "/Order/DropListShop",
                dataType: "json",
                type: "POST",
                data: { data: str },
                success: function (res) {
                    var select = "";
                    $(res).each(function () {
                        select += "<option value=" + this.ShopId + ">" + this.ShopName + "</option>";
                    })
                    $("#ShopName").append(select);
                }
            })
            $.ajax({
                url: "/Order/GetOrder",
                dataType: "json",
                type: "POST",
                success: function (res) {
                    var select = "";
                    $(res).each(function () {
                        select += "<tr>" +
                            '<td><img src=' + this.ComndityImg + ' style="width:100px;height:100px"/></td>' +
                            "<td>" + "订单编号:3328992142" + this.OrderformId + "</br>" + "发货快递:" + (this.LogisticsName == "" ? "" : this.LogisticsName) + "</td>" +
                            "<td>" + this.CommodityName + "</td>" +
                            "<td>" + this.Price + "</td>" +
                            "<td>" + this.CommodityCount + "</td>" +
                            "<td>" + "　　" + this.UserName + "</br>" + this.UserNumder + "</td>" +
                            "<td>" + (this.Price * this.CommodityCount) +"元"+ "</td>" +
                            "<td style='color:red'>" + (this.OrderState == 1 ? "待付款" : this.OrderState == 2 ? "待发货" : this.OrderState == 3 ? "已发货" : this.OrderState == 4 ? "已收货" : "已完成") + "</td>" +
                            '<td><button class="layui-btn layui-btn-normal" onclick="Update(' + this.OrderformId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + (this.OrderState == 1 ? "待付款" : this.OrderState == 2 ? "待发货" : this.OrderState == 3 ? "已发货" : this.OrderState == 4 ? "已收货" : "已完成") + '</button></td>' +
                            '<td><button class="layui-btn layui-btn-normal" onclick="UpdateOrder(' + this.OrderformId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + "修改" + '</button></td>' +
                            "</tr>";
                    })
                    $("#datas").html(select);
                }
            })
        }
    })
    function Query(type) {
        var ass = 0;
        if ($("#OrderformId").val() == "") {
            var ass = 0;
        }
        else {
            ass = $("#OrderformId").val();
        }
        var datass = {
            OrderState: type,
            OrderformId: ass,
            UserName: $("#UserName").val(),
            UserNumder: $("#UserNumder").val(),
            CommodityName: $("#CommodityName").val(),
            LogisticsId: $("#LogisticsName").val()
        };
        $.ajax({
            url: "/Order/GetOrder",
            type: "POST",
            data: { data: JSON.stringify(datass) },
            dataType: "json",
            success: function (res) {
                var select = "";
                $(res).each(function () {
                     select += "<tr>" +
                            '<td><img src=' + this.ComndityImg + ' style="width:100px;height:100px"/></td>' +
                            "<td>" + "订单编号:3328992142" + this.OrderformId + "</br>" + "发货快递:" + (this.LogisticsName == "" ? "" : this.LogisticsName) + "</td>" +
                            "<td>" + this.CommodityName + "</td>" +
                            "<td>" + this.Price + "</td>" +
                            "<td>" + this.CommodityCount + "</td>" +
                            "<td>" + "　　" + this.UserName + "</br>" + this.UserNumder + "</td>" +
                            "<td>" + (this.Price * this.CommodityCount)+"元" + "</td>" +
                            "<td style='color:red'>" + (this.OrderState == 1 ? "待付款" : this.OrderState == 2 ? "待发货" : this.OrderState == 3 ? "已发货" : this.OrderState == 4 ? "已收货" : "已完成") + "</td>" +
                            '<td><button class="layui-btn layui-btn-normal" onclick="Update(' + this.OrderformId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + (this.OrderState == 1 ? "待付款" : this.OrderState == 2 ? "待发货" : this.OrderState == 3 ? "已发货" : this.OrderState == 4 ? "已收货" : "已完成") + '</button></td>' +
                            '<td><button class="layui-btn layui-btn-normal" onclick="UpdateOrder(' + this.OrderformId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + "修改" + '</button></td>' +
                            "</tr>";
                })
                $("#datas").html(select);
            }
        })
    }
    function Update(Id) {
        $.ajax({
            url: "/Order/GetState",
            dataType: "json",
            type: "POST",
            data: {
                data: Id
            },
            success: function (res) {
                $(res).each(function () {
                    var state = this.OrderState;//如果状态为2 则为待发货 可以进行发货 否则为查看订单详情
                    if (state != 2) {
                        //查看详情
                        location.href = '/Order/GetOrderDetailView/' + 'OsPAda1klw764335ppqeHKAPwq342terwGTEqs' + Id;
                    }
                    else {
                        //修改订单状态 
                        $.ajax({
                            url: "/Order/UpdateOrderState",
                            type: "POST",
                            data: { data: JSON.stringify(Id) },
                            dataType: "json",
                            success: function (res) {
                                if (res.res > 0) {
                                    alert(res.msg);
                                    location.reload();
                                }
                                else {
                                    alert(res.msg);
                                }
                            }
                        })
                    }
                })

            }
        })

    }
    function UpdateOrder(id) {
        $.ajax({
            url: "/Order/UpdateOrder",
            dataType: "json",
            type: "POST",
            data: {
                data: id
            },
            success: function (res) {

            }
        })
        if (id > 0) {
            location.href = '/Order/UpdateOrderView';
        }
    }
</script>