
@{
    ViewBag.Title = "AddCommodity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/layui/layui.css" rel="stylesheet" />
<link href="~/Scripts/layui/admin.css" rel="stylesheet" />
<div class="layui-tab-content" style="top:10px">
    <div class="layui-tab-item layui-show">
        <div class="layui-form-item">
            <label class="layui-form-label">商品名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" required lay-verify="required" placeholder="请输入商品名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品分类：</label>
            <div class="layui-input-block">
                <select id="category" lay-verify="required">
                    <option value="0">---请选择---</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图像上传：</label>
            <div class="layui-input-block">
                <input type="file" id="file" class="layui">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品库存：</label>
            <div class="layui-input-block">
                <input type="text" id="sum" required lay-verify="required" placeholder="请输入商品库存" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品价格：</label>
            <div class="layui-input-block">
                <input type="text" id="price" required lay-verify="required" placeholder="请输入商品价格" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品尺寸：</label>
            <div class="layui-input-block">
                <input type="text" id="size" required lay-verify="required" placeholder="请输入商品尺寸" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">商品材质：</label>
            <div class="layui-input-block">
                <input type="text" id="testuer " required lay-verify="required" placeholder="请输入商品材质" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述：</label>
            <div class="layui-input-block">
                <textarea id="descride" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <button class="layui-btn layui-btn-normal">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
</div>
<script src="~/Scripts/lay/modules/layui.js"></script>
<script src="~/Scripts/js/common.js"></script>


