
@{
    ViewBag.Title = "AddCommodityType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/layui/layui.css" rel="stylesheet" />
<link href="~/Scripts/layui/admin.css" rel="stylesheet" />
<div class="layui-tab-content" style="top:10px">
    <div class="layui-tab-item layui-show">
        <div class="layui-form-item">
            <label class="layui-form-label">分类名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" required lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <button class="layui-btn" onclick="add()">立即提交</button>
        <button type="reset" class="layui-btn">重置</button>
    </div>
</div>
<script src="~/Scripts/lay/modules/layui.js"></script>
<script src="~/Scripts/js/common.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    function add() {
        var name = $("#name").val();
        if (name == "") {
            alert("分类名称不能为空!");
            return;
        }
        var data = {
            TypeName: name,
        };
        $.ajax({
            url: '/Commodity/AddCommodityTypes',
            type: 'POST',
            dataType: 'json',
            data: {
                data: JSON.stringify(data)
            },
            success: function (res) {
                if (res == "[object Object]") {
                    alert("添加成功!");
                    location.href = "/Commodity/ShowCommodity";
                }
                else {
                    alert("添加失败!");
                    return;
                }
            }
        });
    }
})
}
</script>
