
@{
    ViewBag.Title = "ShowCommodity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/layui/layui.css" rel="stylesheet" />
<link href="~/Scripts/layui/admin.css" rel="stylesheet" />
<div class="wrap-container clearfix">
    <div class="column-content-detail" style="top:10px">
        <div style="top:5px">
            <div style="margin-top:20px">
                <span tyle="margin-left:10px;margin-top:-10px">
                    <input type="text" id="text1" placeholder="请输入商品名称">
                </span>

                <span tyle="margin-left:10px;margin-top:10px">
                    <select id="category">
                        <option value="0">---请选择商品分类---</option>
                    </select>
                </span>
                <span tyle="margin-left:10px;margin-top:10px">
                    <select id="shop">
                        <option value="0">---请选择所属店铺---</option>
                    </select>
                </span>
                <button class="layui-btn layui-btn-normal" lay-submit="search" onclick="Sel()">搜索</button>
            </div>
        </div>
        <div class="layui-form" id="table-list" style="top:5px">
            <table class="layui-table" lay-even lay-skin="nob">
                <colgroup>
                    <col width="150">
                    <col width="85">
                    <col width="85">
                    <col width="85">
                    <col width="85">
                    <col width="85">
                    <col width="85">
                </colgroup>
                <thead class="layui-table">
                    <tr>
                        <th>图片</th>
                        <th>名称</th>
                        <th>所属店铺</th>
                        <th>所属分类</th>
                        <th>库存</th>
                        <th>价格</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="rb"></tbody>
            </table>
        </div>
        <input type="button" class="layui-btn" onclick="Query(1)" value="首页" />
        <input type="button" class="layui-btn" onclick="Query(2)" value="上一页" />
        <input type="button" class="layui-btn" onclick="Query(3)" value="下一页" />
        <input type="button" class="layui-btn" onclick="Query(4)" value="尾页" />
        <input type="hidden" id="Page" value="1" />
        <input type="hidden" id="Size" value="2" />
        <input type="hidden" id="Count" value="3" />
    </div>
</div>
<script src="~/Scripts/lay/modules/layui.js"></script>
<script src="~/Scripts/js/common.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        var Sid = 0;
        $.ajax({
            url: "/Order/Cookie",
            type: "POST",
            data: {
            },
            dataType: "JSON",
            success: function (res) {
                $(res).each(function () {
                    if (this.Name == "" || this.Name == null) {
                        alert("请先登录");
                        location.href = "/UserZ/Login";
                        Sid = 1;
                        return;
                    }
                })
            }
        })
        $.ajax({
            url: "/Commodity/CommodityType",
            type: "POST",
            dataType: "json",
            success: function (res) {
                var select = "";
                $(res).each(function () {
                    select += "<option value=" + this.TypeId + ">" + this.TypeName + "</option>";
                })
                $("#category").append(select);
            }
        });
        $.ajax({
            url: "/Commodity/DropListShop",
            type: "POST",
            dataType: "json",
            success: function (res) {
                var select = "";
                $(res).each(function () {
                    select += "<option value=" + this.ShopId + ">" + this.ShopName + "</option>";
                })
                $("#shop").append(select);
            }
        });
        var Page_ = $("#Page").val();//第几页开始
        var Size_ = $("#Size").val();//每页多少条
        var Count_ = $("#Count").val();//总数据
        var data = {
            Page: Page_,
            Size: Size_
        };
        $.ajax({
            url: "/Commodity/IndexData",
            data: {
                data: JSON.stringify(data)
            },
            dataType: "json",
            type: "POST",
            success: function (res) {
                var ress = "";
                $(res).each(function () {
                    ress += "<tr>" +
                        "<td>" + "<img src=" + this.ComndityImg + " style='width:120px;height:80px'/>" + "</td>" +
                        "<td>" + this.CommodityName + "</td>" +
                        "<td>" + this.ShopName + "</td>" +
                        "<td>" + this.TypeName + "</td>" +
                        "<td>" + this.CommditySum + "</td>" +
                        "<td>" + this.Price + "</td>" +
                        '<td><button class="layui-btn layui-btn-normal" onclick="Update(' + this.CommodityId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + (this.OrderState == 1 ? "上架" : "下架") + '</button></td>' +
                        "</tr>";
                })
                $("#rb").html(ress);
            }
        })
        $.ajax({
            url: "/Commodity/Count",
            data: {
            },
            dataType: "json",
            type: "POST",
            success: function (res) {
                $(res).each(function () {
                    $("#Count").val(this.Count);
                })
            }
        })
    })
    function Sel() {
        var ass = $("#text1").val();
        var tid = $("#category").val();
        var sid = $("#shop").val();
        var datass = {
            CommodityName: ass,
            TypeId: tid,
            ShopId: sid
        };
        $.ajax({
            url: "/Commodity/ShowCommoditys",
            type: "POST",
            dataType: "json",
            data: { data: JSON.stringify(datass) },
            success: function (res) {
                var select = "";
                $(res).each(function () {
                    select += "<tr>" +
                        "<td>" + "<img src=" + this.ComndityImg + " style='width:120px;height:80px'/>" + "</td>" +
                        "<td>" + this.CommodityName + "</td>" +
                        "<td>" + this.ShopName + "</td>" +
                        "<td>" + this.TypeName + "</td>" +
                        "<td>" + this.CommditySum + "</td>" +
                        "<td>" + this.Price + "</td>" +
                        '<td><button class="layui-btn layui-btn-normal" onclick="Update(' + this.CommodityId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + (this.CommodityState == 1 ? "上架" : "下架") + '</button></td>' +
                        "</tr>";
                })
                $("#rb").html(select);
            }
        });
    }

    function Update(Id) {
        $.ajax({
            url: "/Commodity/UpdateCommodityOut",
            dataType: "json",
            type: "POST",
            data: {
                data: Id
            },
            success: function (res) {
                if (res.res > 0) {
                    alert("已下架!");
                    location.href = "/Commodity/OutCommodity";
                } else {
                    alert("下架失败!");
                    return;
                }
            }
        });
    }

    function Query(type) {
        var Page_ = $("#Page").val();//第几页开始
        var Size_ = $("#Size").val();//每页多少条
        var Count_ = $("#Count").val();//总数据
        //首页
        if (type == 1) {
            Page_ = 1;
            var data1 = {
                Page: Page_,
                Size: Size_
            };
            $.ajax({
                url: "/Commodity/IndexData",
                data: {
                    data: JSON.stringify(data1)
                },
                dataType: "json",
                type: "POST",
                success: function (res) {
                    var ress = "";
                    $(res).each(function () {
                        ress += "<tr>" +
                        "<td>" + "<img src=" + this.ComndityImg + " style='width:120px;height:80px'/>" + "</td>" +
                        "<td>" + this.CommodityName + "</td>" +
                        "<td>" + this.ShopName + "</td>" +
                        "<td>" + this.TypeName + "</td>" +
                        "<td>" + this.CommditySum + "</td>" +
                        "<td>" + this.Price + "</td>" +
                        '<td><button class="layui-btn layui-btn-normal" onclick="Update(' + this.CommodityId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + (this.OrderState == 1 ? "上架" : "下架") + '</button></td>' +
                        "</tr>";
                })
                $("#rb").html(ress);
                }
            })
            $("#Page").val(Page_);
        }
        //上一页
        if (type == 2) {
            Page_ = Page_ - 1;
            if (Page_ <= 1) {
                Page_ = 1;
            }
            var data2 = {
                Page: Page_,
                Size: Size_
            };
            $.ajax({
                url: "/Commodity/IndexData",
                data: {
                    data: JSON.stringify(data2)
                },
                dataType: "json",
                type: "POST",
                success: function (res) {
                    var ress = "";
                    $(res).each(function () {
                        ress += "<tr>" +
                        "<td>" + "<img src=" + this.ComndityImg + " style='width:120px;height:80px'/>" + "</td>" +
                        "<td>" + this.CommodityName + "</td>" +
                        "<td>" + this.ShopName + "</td>" +
                        "<td>" + this.TypeName + "</td>" +
                        "<td>" + this.CommditySum + "</td>" +
                        "<td>" + this.Price + "</td>" +
                        '<td><button class="layui-btn layui-btn-normal" onclick="Update(' + this.CommodityId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + (this.OrderState == 1 ? "上架" : "下架") + '</button></td>' +
                        "</tr>";
                })
                $("#rb").html(ress);
                }
            })
            $("#Page").val(Page_);
        }
        //下一页
        if (type == 3) {
            if (Page_ >= (Count_ / Size_)) {
                Page_ = (Count_ / Size_);
            }
            else {
                Page_ = parseInt(Page_) + parseInt(1);
            }
            var data3 = {
                Page: Page_,
                Size: Size_
            };
            $.ajax({
                url: "/Commodity/IndexData",
                data: {
                    data: JSON.stringify(data3)
                },
                dataType: "json",
                type: "POST",
                success: function (res) {
                    var ress = "";
                    $(res).each(function () {
                        ress += "<tr>" +
                        "<td>" + "<img src=" + this.ComndityImg + " style='width:120px;height:80px'/>" + "</td>" +
                        "<td>" + this.CommodityName + "</td>" +
                        "<td>" + this.ShopName + "</td>" +
                        "<td>" + this.TypeName + "</td>" +
                        "<td>" + this.CommditySum + "</td>" +
                        "<td>" + this.Price + "</td>" +
                        '<td><button class="layui-btn layui-btn-normal" onclick="Update(' + this.CommodityId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + (this.OrderState == 1 ? "上架" : "下架") + '</button></td>' +
                        "</tr>";
                })
                $("#rb").html(ress);
                }
            })
            $("#Page").val(Page_);
        }
        //尾页
        if (type == 4) {
            if ((Count_ % Size_) > 0) {
                Page_ = Math.floor(Count_ / Size_) + parseInt(1);
            }
            else {
                Page_ = Math.floor(Count_ / Size_);
            }
            var data4 = {
                Page: Page_,
                Size: Size_
            };
            $.ajax({
                url: "/Commodity/IndexData",
                data: {
                    data: JSON.stringify(data4)
                },
                dataType: "json",
                type: "POST",
                success: function (res) {
                    var ress = "";
                    $(res).each(function () {
                        ress += "<tr>" +
                        "<td>" + "<img src=" + this.ComndityImg + " style='width:120px;height:80px'/>" + "</td>" +
                        "<td>" + this.CommodityName + "</td>" +
                        "<td>" + this.ShopName + "</td>" +
                        "<td>" + this.TypeName + "</td>" +
                        "<td>" + this.CommditySum + "</td>" +
                        "<td>" + this.Price + "</td>" +
                        '<td><button class="layui-btn layui-btn-normal" onclick="Update(' + this.CommodityId + ')" style="height:40px;width:80px" lay-submit lay-filter="formDemo">' + (this.OrderState == 1 ? "上架" : "下架") + '</button></td>' +
                        "</tr>";
                })
                $("#rb").html(ress);
                }
            })
            $("#Page").val(Page_);
        }
    }
</script>