
@{
    Layout = null;
}
@model IEnumerable<TeadingPlatformMVC.Models.Ycx_User>

@foreach (var item in Model)
{
    <div>
        昵称：@item.UserName
        头像：@item.UserPhoto

    </div>
}
<div>
    <p>
        个人信息

    </p>
    <div>
        <div>

            昵称:
        </div>

    </div>


</div>

