
@{
    ViewBag.Title = "GetPass";
    Layout = null;
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<link href="http://localhost:55243/Scripts/layui/layui.css" rel="stylesheet" />
<link href="http://localhost:55243/admin/css/login.css" rel="stylesheet" />
<title>F4交易平台--修改密码</title>

<div class="m-login-bg" style="width:100%;">
    <div class="m-login">
        <b style="font-size:30px;margin-left:90px">F4交易平台--修改密码</b>
        <div class="m-login-warp" style="width:500px;height:400px">
            <table style="height:330px;margin-left:20px">
                <tr>
                    <td>输入要验证的邮箱:</td>
                    <td>
                        <input id="Email" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>你的真实姓名:</td>
                    <td>
                        <input id="Name" type="text" onchange="NameChange()" />
                        <input type="hidden" id="NameTrueOrFalse" />
                    </td>
                    <td id="NameText"></td>
                </tr>
                <tr>
                    <td>请输入验证码:</td>
                    <td>
                        <input id="Code" type="text" /><input id="Codes" type="hidden" />
                    </td>
                    <td>
                        <input id="Button1" onclick="GetCode()" type="button" value="获取验证码" class="layui-btn layui-bg-blue" style="margin-left:10px;width:120px;height:30px" />
                    </td>
                </tr>
                <tr style="margin-left:300px">
                    <td id="euww1">
                        <input id="Button2" type="button" class="layui-btn layui-bg-blue" style="margin-left:99%;width:90px;height:40px" value="重置密码" onclick="GetPass()" />
                    </td>
                </tr>
                <tbody id="tbss"></tbody>
            </table>

        </div>
    </div>
</div>

@*<div class="wrap-container" style="padding-top:20px">
        <hr style="color:#000000;height:3px;" />
        <div class="layui-form" id="category-table-list" style="background-image:url(/Image/bg-5921ee0.png)">
            <table style="width:700px;height:400px;margin-left:30%">
                <tr>
                    <td>输入要验证的邮箱:</td>
                    <td>
                        <input id="Email" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>你的真实姓名:</td>
                    <td>
                        <input id="Name" type="text" onchange="NameChange()" />
                        <input type="hidden" id="NameTrueOrFalse" />
                    </td>
                    <td id="NameText"></td>
                </tr>
                <tr>
                    <td>请输入验证码:</td>
                    <td>
                        <input id="Code" type="text" /><input id="Codes" type="hidden" />
                    </td>
                    <td>
                        <input id="Button1" onclick="GetCode()" type="button" value="获取验证码" />
                    </td>
                </tr>
                <tr style="margin-left:300px">
                    <td id="euww1">
                        <input id="Button2" type="button" style="margin-left:82%;width:90px;height:40px" value="重置密码" onclick="GetPass()" class="btn btn-primary" />
                    </td>
                </tr>
                <tbody id="tbss"></tbody>
            </table>
        </div>
        <hr style="color:#000000;height:3px;" />
    </div>*@
<script>
    /// 重置密码 第一次加载
    ///使用Redis把数据库的用户数据存到缓存里面
    ///通过查询缓存里面的数据 来判断用户名是否存在
    $(document).ready(function () {
        $.ajax({
            url: "/Order/DataRedis",
            dataType: "JSON",
            type: "POST",
            success: function (res) {
                $(res).each(function () {
                    alert(this.Name);
                })
            }
        })
    })
    //获取验证码
    function GetCode() {

        var Email_ = $("#Email").val();
        var Name_ = $("#Name").val();
        if (Email_ == "") {
            alert("QQ邮箱不能为空");
            return;
        }
        if (Name_ == "") {
            alert("用户名不能为空");
            return;
        }
        var data = {
            Name: Name_,
            Email: Email_
        };
        $.ajax({
            url: "/UserZ/GetEmailPass",
            dataType: "JSON",
            data: {
                data: JSON.stringify(data)
            },
            type: "POST",
            success: function (res) {
                $(res).each(function () {
                    var codes = this.Name;
                    $("#Codes").val(codes);
                })
            }

        })
    }
    //查询名字是否注册
    function NameChange() {
        var Name_ = $("#Name").val();
        if (Name_ == "") {
            alert("用户名不能为空");
            return;
        }
        $.ajax({
            url: "/Order/SelectName",
            dataType: "JSON",
            data: {
                data: Name_
            },
            type: "POST",
            success: function (res) {
                var ass = "";
                $(res).each(function () {
                    if (this.Name == "有该用户") {
                        ass = "<label>" + "√" + "</label>";
                        $("#NameTrueOrFalse").val(1);
                    }
                    if (this.Name == "没有该用户") {
                        ass = "<label>" + "×" + "</label>";
                        $("#NameTrueOrFalse").val(2);
                    }
                    if (this.Name == "用户名不能为空") {
                        ass = "<label>" + this.Name + "</label>";
                        $("#NameTrueOrFalse").val(2);
                    }
                    if (this.Name == "服务器内部错误") {
                        alert(this.Name);
                        $("#NameTrueOrFalse").val(2);
                    }
                })
                $("#NameText").html(ass);
            }
        })
    }
    //弹出确认修改
    function GetPass() {
        var False = $("#NameTrueOrFalse").val();
        if (False == 2) {
            alert("用户名不正确");
            return;
        }
        var code = $("#Code").val();
        var codes = $("#Codes").val();
        var Email_ = $("#Email").val();
        var Name_ = $("#Name").val();
        if (Email_ == "") {
            alert("QQ邮箱不能为空");
            return;
        }
        if (Name_ == "") {
            alert("用户名不能为空");
            return;
        }
        if (code == "") {
            alert("验证码不能为空");
            return;
        }
        if (code == codes) {
            var tbss = "";
            tbss += "<tr>" +
                "<td>新密码:</td>" +
                "<td><input id='Pwd1' type='password' /></td>" +
                "<td> <input  type='button' value='确认修改' class='layui-btn layui-bg-blue' style='margin-left:10px;width:120px;height:30px'  onclick='Update()' /></td>"
                + "</tr>";
            $("#tbss").html(tbss);
        }
        else {
            alert("验证码不正确");
        }

    }
    //修改密码
    function Update() {
        var False = $("#NameTrueOrFalse").val();
        if (False == 2) {
            alert("用户名不正确");
            return;
        }
        var Name_ = $("#Name").val();
        var Pwd_ = $("#Pwd1").val();
        var data = {
            UserName: Name_,
            UserPass: Pwd_
        }
        $.ajax({
            url: "/UserZ/UpdatePwd",
            dataType: "JSON",
            data: {
                data: JSON.stringify(data)
            },
            type: "POST",
            success: function (res) {
                $(res).each(function () {
                    if (this.msg == "修改成功") {
                        alert(this.msg);
                        location.href = '/UserZ/Login';
                    }
                    else {
                        alert(this.msg);
                        location.reload();
                    }


                })
            }
        })
    }
</script>
