
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/_Layoutlogin.cshtml";
}

<h2></h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/UserZ/Token",
            type: "POST",
            data: {},
            dataType: "JSON",
            success: function (res) {
                $(res).each(function () {
                    $("#token").val(this.Name);
                })
            }
        })
    })
    function login() {
        var yzm = $("#yzm").val();
        $.ajax({
            url: "/UserZ/Loginyanz/yzm",
            type: "POST",
            data: {
                yzm: yzm
            },
            dataType: "JSON",
            success: function (res) {
                if (res > 0) {
                    var datas = {
                        UserNumder: $("#phone").val(),
                        UserPass: $("#pwd").val(),
                        token: $("#token").val()
                    };
                    $.ajax({
                        url: "http://localhost:55041/api/UserApi/UserLogin",
                        type: "POST",
                        data: JSON.stringify(datas),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (res) {
                            var Rdata = res.data;
                            if (res.res > 0) {
                                alert("登录成功");
                                $.ajax({
                                    url: "/UserZ/AddCookie",
                                    type: "POST",
                                    data: {
                                        data: Rdata
                                    },
                                    dataType: "JSON",
                                    success: function (res) {

                                    }
                                })
                                location.href = "/UserZ/Mainpage";
                            }
                            else {
                                alert(res.msg);
                            }
                        }
                    });
                }
                else {
                    alert("验证码不正确");
                }
            }
        });


    }

    function regist() {
        var data = {
            UserNumder: $("#Rphone").val()
        };
        $.ajax({
            url: "http://localhost:55041/api/UserApi/IsExistPhone",
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (res) {
                if (res.res > 0) {
                    alert(res.msg);
                }
                else {
                    var pwd = $("#Rpwd").val();
                    var pwdtwo = $("#Rpwdtwo").val();
                    if (pwd == pwdtwo && pwd != "") {

                        var datas = {
                            UserName: $("#name").val(),
                            UserPass: $("#Rpwd").val(),
                            UserNumder: $("#Rphone").val()
                        };

                        $.ajax({
                            url: "http://localhost:55041/api/UserApi/UserAdd",
                            type: "POST",
                            data: JSON.stringify(datas),
                            dataType: "JSON",
                            contentType: "application/json",
                            success: function (res) {
                                alert(res.msg);
                                if (res.msg == "注册成功") {
                                    location.reload();
                                }
                            }
                        });

                    }
                }
            }
        });


    }
    function GetPass() {
        location.href = '/UserZ/GetPass';
    }
</script>

