<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="~/admin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/admin/css/admin.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    <div class="wrap-container">

        <div class="layui-form-item" style="width: 90%;padding-top: 20px">
            <label class="layui-form-label">店铺名称：</label>
            <div class="layui-input-block">
                <input type="text" id="name" required lay-verify="required" autocomplete="off" class="layui-input " placeholder="请输入" ;>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" onclick="move()">立即提交</button>
            </div>
        </div>

    </div>
    <script src="~/admin/layui/layui.js"></script>

</body>
</html>
