<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>F4交易平台</title>
    <link href="~/admin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/admin/css/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="main-layout" id='main-layout'>
        <!--侧边栏-->
        <div class="main-layout-side">
            <div style="width:200px;height:100px">
                <img src="~/Logo.gif" style="width:200px;height:100px" />
            </div>
            <ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="iconfont">&#xe607;</i>用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="menu1.html" data-id='1' data-text="个人信息"><span class="l-line"></span>个人信息</a></dd>
                        <dd><a href="javascript:;" data-url="menu2.html" data-id='2' data-text="添加个人信息"><span class="l-line"></span>添加个人信息</a></dd>
                        <dd><a href="javascript:;" data-url="menu3.html" data-id='4' data-text="编辑个人信息"><span class="l-line"></span>编辑个人信息</a></dd>
                        <dd><a href="javascript:;" data-url="menu3.html" data-id='3' data-text="添加店铺"><span class="l-line"></span>添加店铺</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont">&#xe608;</i>商品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="article-list.html" data-id='5' data-text="发布商品" onclick="addcommodity()"><span class="l-line"></span>发布商品</a></dd>
                        <dd><a href="javascript:;" data-url="danye-list.html" data-id='6' data-text="查看已上架商品" onclick="selcommodity()"><span class="l-line"></span>查看已上架商品</a></dd>
                        <dd><a href="javascript:;" data-url="danye-list.html" data-id='9' data-text="查看已下架商品" onclick="selcommodity()"><span class="l-line"></span>查看已下架商品</a></dd>
                        <dd><a href="javascript:;" data-url="danye-list.html" data-id='9' data-text="添加商品分类" onclick="selcommodity()"><span class="l-line"></span>添加商品分类</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont">&#xe608;</i>订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/Order/Order" data-url="" data-id='9' data-text="查看订单列表" onclick="LookOrder()"><span class="l-line"></span>查看订单列表</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <!--右侧内容-->
        <div class="main-layout-container">
            <!--头部-->
            <div class="main-layout-header">
                <ul class="layui-nav" lay-filter="rightNav">
                    <li class="layui-nav-item"><a href="javascript:;" data-url="email.html" data-id='4' data-text="邮件系统"><i class="iconfont">&#xe603;</i></a></li>
                    <li class="layui-nav-item">

                        <a href="javascript:;" data-url="admin-info.html" data-id='5' data-text="个人信息">
                            <img style="width:40px;height:40px" id="imgs" src="~/Image/头像.jpg" />
                            &nbsp;当前用户:
                            <input type="reset" style="width:50px;color:#ff0000;height:40px" readonly id="Text1" />
                            <label>@ViewBag.Name</label>
                        </a>
                    </li>
                    <li class="layui-nav-item"><a href="javascript:;" onclick="loca()">退出</a></li>
                </ul>
            </div>
            <!--主体内容-->
            <div class="main-layout-body">
                <!--tab 切换-->
                <div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
                    <ul class="layui-tab-title">
                        <li class="layui-this welcome">后台主页</li>
                    </ul>
                    <div class="layui-tab-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/admin/layui/layui.js"></script>
    <script src="~/admin/js/common.js"></script>
    <script src="~/admin/js/main.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
<script>
    $().ready(function () {
        $.ajax({
            url: "/UserZ/Cookie",
            type: "POST",
            data: {
            },
            dataType: "JSON",
            success: function (res) {
                $(res).each(function () {
                    $("#Text1").val(this.Name);
                })
            }
        })
    })
    function loca() {
        location.href = "/UserZ/Login";
    }
    function LookOrder() {
        location.href = '/Order/Order';
    }
    function addcommodity() {
        location.href = '/Commodity/AddCommodity';
    }
    function selcommodity() {
        location.href = '/Commodity/ShowCommodity';
    }
</script>
