<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>HTML注册登录页面</title>
    <link href="~/Content/admin/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="form sign-in">
            <input type="hidden" value="" id="token" />
            <h2>欢迎回来</h2>
            <label>
                <span>手机号</span>
                <input type="text" id="phone" />
            </label>
            <label>
                <span>密码</span>
                <input type="password" id="pwd" />
            </label>
            <label>
                <span>验证码</span>
                <input type="text" id="yzm" />
            </label>
            <label>
                <img class="verifyImg" src="/Content/验证码/ValidateCode.ashx" onclick="this.src='/Content/验证码/ValidateCode.ashx?d'+new Date()" style="margin-top:10px;margin-left:-10px" />
            </label>
            <p class="forgot-pass"><a href="javascript:" onclick="GetPass()">忘记密码？</a></p>
            <button type="button" class="submit" onclick="login()">登 录</button>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>还未注册？</h2>
                    <p>立即注册，发现大量机会！</p>
                </div>
                <div class="img__text m--in">
                    <h2>已有帐号？</h2>
                    <p>有帐号就登录吧，好久不见了！</p>
                </div>
                <div class="img__btn">
                    <span class="m--up">注 册</span>
                    <span class="m--in">登 录</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>立即注册</h2>
                <label>
                    <span>昵称</span>
                    <input type="text" id="name" />
                </label>
                <label>
                    <span>密码</span>
                    <input type="password" id="Rpwd" />
                </label>
                <label>
                    <span>确认密码</span>
                    <input type="password" id="Rpwdtwo"/>
                </label>
                <label>
                    <span>手机号</span>
                    <input type="text" id="Rphone" />
                </label>
                <button type="button" class="submit" onclick="regist()">注 册</button>
            </div>
        </div>
    </div>

    <script src="~/Content/admin/js/script.js"></script>

    <div>
        @RenderBody()
    </div>
</body>
</html>

